# Polynomial Regression:

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
# linear data
df = pd.read_csv('linear_data.csv')
df.head()

         x         y
0  0.00000  4.447692
1  0.02004  5.024612
2  0.04008  5.869593
3  0.06012  4.722490
4  0.08016  4.877101

In [3]:
# check correlation od dataset
df.corr()

         x        y
x  1.00000  0.99644
y  0.99644  1.00000