## Column tranformation
 একই সাথে বিভিন্ন কলামের এনকোডিং করার জন্য কলাম ট্রান্সফরমেশন ব্যাবহার করা হয়। 
 কারণ আলাদা করে এনকোডিং করতে হলে সময় সাপেক্ষে বিষয়।

In [1]:
import numpy as np
import pandas as pd

1. SimpleImputer - এর কাজ হচ্ছে মিসিং ভ্যালু ফিল করে দেয়া ( mean value  দিয়ে)
2. OnehotEncoder - Nominal Data এর জন্য ব্যবহার করব। 
3. OrdinalEncoder - Ordinal Data এর জন্য ব্যবহার করব

In [3]:
# import all from sklearn
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
# read dataset
df = pd.read_csv('covid_toy.csv')
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

1. প্রথমে মিসিং ভ্যালু আছে কি না চেক করে নিতে হবে।
2. simpleimputer ব্যবহার করে missing value ঠিক করতে হবে
3. features/columns এর Data type বুঝতে হবে।
4. কোন Data এর জন্য কোন encoder ব্যবহার করবে সিলেক্ট করে নিতে হবে।
5. columntransferom ব্যবহার করে একসাথে encoding এর কাজ করতে হবে।
6. trainning and test Dataset সেট করে নিতে হবে তারপর চেক করতে হবে।

In [6]:
# misisng value check
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [8]:
# without has_covid colum apply all columns for train and test
from sklearn.model_selection import train_test_split
# traiing dataset: df.drop(columns=['has_covid']. and targetdataset: df['has_covid'
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [9]:
X_train

    age  gender  fever   cough     city
73   34    Male   98.0  Strong  Kolkata
38   49  Female  101.0    Mild    Delhi
0    60    Male  103.0    Mild  Kolkata
70   68  Female  101.0  Strong    Delhi
10   75  Female    NaN    Mild    Delhi
..  ...     ...    ...     ...      ...
88    5  Female  100.0    Mild  Kolkata
12   25  Female   99.0  Strong  Kolkata
59    6  Female  104.0    Mild  Kolkata
22   71  Female   98.0  Strong  Kolkata
9    64  Female  101.0    Mild    Delhi

[80 rows x 5 columns]

In [ ]:
# now fever column fill null value using simpleimputer class