## ENcoding Categorical Data, Ordinal and normal encoding
### Data types:
1. Numerical - age, height
2. Categoricial - gender, position
#### Categorical 2 types
1. Nominal- No realtion or no order - country
2. Ordinal - realtion and order both- students position

### How to encode categorical data:
Given data always string formet, so first convert data into numerical. 
1. Ordinal encoding way-- always ordinal data
2. One hot encoding way -- always nominal data
3. Label encoding way -- similar to ordinal data. label encoding use for output data

### Start Ecoding

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read dataset
df = pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

##### Data description
1. age: numerical
2. gender: categorical but not order or realtion
3. review: ordinal data
4. education: ordinal data
5. purchased: nominal data and also output. so here use label encoding

In [4]:
# just use review and education and puchsed column. so split it first
# 2 no columns to last column
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
# Step no 1: train test split
from sklearn.model_selection import train_test_split
# split data
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,2:], df.iloc[:,-1], test_size=0.2)

In [8]:
# train - first 2
# test - last one
# df.iloc[:,-1]

In [12]:
# see trainning and testing data set
X_train.head()

   purchased
25        No
10       Yes
5        Yes
26        No
47       Yes

In [14]:
X_test.head()

   purchased
49        No
12        No
44        No
31       Yes
3         No

In [15]:
y_train.head()

25     No
10    Yes
5     Yes
26     No
47    Yes
Name: purchased, dtype: object

In [16]:
y_test.head()

49     No
12     No
44     No
31    Yes
3      No
Name: purchased, dtype: object

In [19]:
X_train.shape

(40, 1)

In [20]:
X_test.shape

(10, 1)

In [22]:
df.shape

(50, 3)

#### Encoding Start From Here.
1. sklearn  থেকে  ordinal encoder নিব। নেয়ার পরে object তৈরি করব। object তৈরি করার সময় categories  এর মাঝে যে ২ টা বা তার বেশি categorical clolumn  তার value list আকারে নিয়ে নিব। sklearn automatically categorical value এর  lower to upper number set করে দিবে। তারপর ঐ ordinalencoding এর object দিয়ে tarin data কে fit করে নিব। <br>
2. fit এর পরে traiing and testing data কে  transform করে নিব। তখন  traiing বা  testing  এর value array আকারে show  করবে। <br>
3. যেহেতু purchased output column  হিসেবে নিচ্ছি সুতরাং purchased এ lebelencoding  করব।