## ENcoding Categorical Data, Ordinal and normal encoding
### Data types:
1. Numerical - age, height
2. Categoricial - gender, position
#### Categorical 2 types
1. Nominal- No realtion or no order - country
2. Ordinal - realtion and order both- students position

### How to encode categorical data:
Given data always string formet, so first convert data into numerical. 
1. Ordinal encoding way-- always ordinal data
2. One hot encoding way -- always nominal data
3. Label encoding way -- similar to ordinal data. label encoding use for output data

### Start Ecoding

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read dataset
df = pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

##### Data description
1. age: numerical
2. gender: categorical but not order or realtion
3. review: ordinal data
4. education: ordinal data
5. purchased: nominal data and also output. so here use label encoding

In [4]:
# just use review and education and puchsed column. so split it first
# 2 no columns to last column
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
# Step no 1: train test split
from sklearn.model_selection import train_test_split
# split data
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,2:], df.iloc[:,-1], test_size=0.2)

In [8]:
# train - first 2
# test - last one
# df.iloc[:,-1]