# Feature Engineering
Feature engineering is the process of using domain knowlwdge to extract features from raw data. These features can be used to improve the perforamnce of machine learning.

মেশিন লার্নিং এর মডেল Deploy  করার আগে  Domain knowledge  অনুযায়ী  Data কে  preprocessing  যেমন  null value  বাদ দেয়া,  Feature (column) , unnecessary column  বাদ দেয়া বা প্রয়োজন অনুযায়ী নতুন  colum  তৈরি করা এবং তারপরে  machine learing model deploy  করার  full process এয়  feature engineering.

## Feature Engineering 
* Feature transformation:
transform input columns.
* Feature construction: 
if need create new features manually fro better result.
* Feature Selection:
unnecessary features need to remove.
* Feature Extraction:
from given fetures create new features in a programmable way not manually. use it for high dimentional data.

### 1. Feature Transformation steps: transform input columns in different columns.
* Missing value imputation: Before train data need to remove or fill null values using mean median and mode.
* Handaling categorical Features: convert categorical value into numerial value because machine learing best output need to numerical value. that's mans transform into different from using one hot encoding.
* Outlier Detection: remove outlier for best fit model.
* Feature scaling: numerical input data scle or range given or create for continus data.

### What is feature scaling?
Feature scaling is a technique to standardize the independent features presnt in the data in a fixed range. মানে ছোট  range  এ নিয়ে আসা। <br>
#### Types of scaling:
* Standardization also called z-score Normalization
* Normalization: 1, minimize scaler. 2, Robus scalar

#### Formula of standardization:
xi = xi - mean(x)/standarddeviation <br>
mean = 0 and sd = 1 . always

## Code example and impact of Outliers

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
# remove unnessary features. just keep those are need.