## One hat encoding
One-hot encoding is a technique used to convert categorical data into a numerical format that machine learning models can process. It represents each category as a binary vector where only one element is "1" (hot) and the rest are "0" (cold). <br>
Example:
Let's say we have a categorical feature "Color" with three unique values:
Red, Green, Blue

Color	One-Hot Encoding
Red	[1, 0, 0]
Green	[0, 1, 0]
Blue	[0, 0, 1]
Each unique category gets its own column, and only one column is "hot" (1) for each data point.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read dataset
df = pd.read_csv('cars.csv')
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

### column name specification
1. brand - categorial nominal
2. km_driven - numerical
3. feul - categoriacal nominal 
4. owner - categorical - nominal
5. selling_price - numerical - output column <br>
apply one hot encoding feul and owner then add brand then apply for model

In [3]:
# check how many owner brand ad feul categorie
# for owner check
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [4]:
# check brand name
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [7]:
# total unique brand 32
df['brand'].nunique()

32

In [8]:
# fuel check
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64